@import "tailwindcss";
.custom-scrollbar {
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.8) transparent; /* thumb, track */
};
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;   
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: inherit; 
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.8);
  border-radius: 10px;
  border: 2px solid transparent; 
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
};
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 1);
  transform: scale(1.05);
}

/* Remove arrows */
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}

/* Smooth scrolling */
.custom-scrollbar {
  scroll-behavior: smooth;
}
body{
  background-color: oklch(12.9% 0.042 264.695);
}